[Desktop Entry]
Encoding=UTF-8
Name=lyra
Comment=lyra P2P Cryptocurrency
Exec=lyra-qt %u
Terminal=false
Type=Application
Icon=lyra128
MimeType=x-scheme-handler/lyra;
Categories=Office;Finance;
Name[it]=lyra-qt.desktop
