[Unit]
Description=LYRA's distributed currency daemon
After=network.target

[Service]
User=lyra
Group=lyra

Type=forking
PIDFile=/var/lib/lyrad/lyrad.pid

ExecStart=/usr/bin/lyrad -daemon -pid=/var/lib/lyrad/lyrad.pid \
          -conf=/etc/lyra/lyra.conf -datadir=/var/lib/lyrad

ExecStop=-/usr/bin/lyra-cli -conf=/etc/lyra/lyra.conf \
         -datadir=/var/lib/lyrad stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
